<h1>Books</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% @books.each do |book| %>
	<tbody>
		<tr>
			<td><%= book.title %></td>
			<td><%= book.body %></td>
			<td><%= link_to "Show",book_path(book.id), class: "show_#{book.id}"%></td>
			<td><%= link_to "Edit",edit_book_path(book.id), class: "edit_#{book.id}"%></td>
			<td><%= link_to "Destroy",book_path(book.id), class: "Destroy_#{book.id}",method: :delete, "data-confirm" => "Are you sure？"%></td>
		</tr>
	</tbody>
	<% end %>
</table>

<h2> New book</h2>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title, class: "book_title"%>

    <h4>Body</h4>
    <%= f.text_area :body, class: "book_body"%>

    <%= f.submit 'Create Book' %>

<% end %>